.school-logo {
    width: 50px;
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
}


.background-cover{
background-image:url('assets/image/background-photo.PNG');
}

.background-cover h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(236, 144, 116, 1);
    color: black;
    font-size: 6em;
    font-weight: bold;
}

.btn{
    background-color: rgba(236, 144, 116, 1);
}

.search-icon{
    width: 30px;
}

.customCard{
    background-color: rgba(28, 34, 45, 1);
}

.customCard img{
    width: 2.5rem; 
    height: 2.5rem;
    margin-bottom: 1.5em;
}
